.infoview {
  left: 43%;
  top: 2px;
  width: 210px;
}
#centerDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#centerDiv3D {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/**cesium工具栏位置*/
.cesium-viewer-toolbar {
  top: auto;
  left: 15px;
  /* right: 5px; */
  bottom: 5px;
}

.cesium-viewer-toolbar>.cesium-toolbar-button,
.cesium-navigationHelpButton-wrapper,
.cesium-viewer-geocoderContainer {
  margin-bottom: 5px;
  /* float: right; */
  clear: both;
}

.cesium-baseLayerPicker-dropDown {
  bottom: 0;
  right: 40px;
  max-height: 700px;
  margin-bottom: 5px;
}

.cesium-navigation-help {
  top: auto;
  bottom: 0;
  right: 40px;
  transform-origin: right bottom;
}
