/*
* index页面css
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  background: #000;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.6;
  color: #76838f;
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #62a8ea;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #89bceb;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline: none;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

#centerDiv2D {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
  left: 0;
  top: 0;
  border: none;
  overflow: hidden;
  position: relative;
}

/**infoview浮动面板*/
.infoview {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  color: #000;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  z-index: 19870101;
}

/* .infoview-right {
  left: auto;
  right: 10px;
} */

.infoview > div {
  margin-top: 5px;
}

.info-tips {
  margin: 5px 10px 20px 10px;
}

.map-control-bar {
  position: absolute;
  width: 36px;
  height: 36px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

/*弹出层皮肤*/
.layui-layer-title {
  background-color: #1e9fff !important;
  color: #fff !important;
}

.slider-selection {
  background-image: linear-gradient(to bottom, #86b9e6 0, #86b9e6 100%);
}


/*解决问题：https://github.com/Leaflet/Leaflet/issues/3575**/
.leaflet-container img.leaflet-tile {
  /* See: https://bugs.chromium.org/p/chromium/issues/detail?id=600120 */
  mix-blend-mode: plus-lighter;
}

/* 修改控件样式 */
.leaflet-touch .leaflet-bar a {
  width: 38px;
  height: 38px;
}

.mars2d-toolbar-home {
  background-size: 22px;
}

.mars2d-toolbar-locate {
  background-size: 22px;
}

.mars2d-toolbar-fullscreen {
  background-size: 17px;
}

.mars2d-toolButton a img {
  margin-top: 7px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 0px;
  margin-bottom: 10px;
  box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05);
}

.leaflet-bar a {
  border: 0px;
}

.leaflet-left .mars2d-toolButton:first-child a::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 34px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  position: relative;
  top: 21px;
}

.leaflet-left .mars2d-toolButton:first-child a:last-child:after {
  content: "";
  display: none;
}



.leaflet-control-zoom-in span {
  display: inline-block;
  margin-top: 5px;
}

.leaflet-control-zoom-out span {
  display: inline-block;
  margin-top: 5px;
}

.leaflet-touch .leaflet-bar a:first-child ::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 34px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  position: absolute;
  top: 39px;
  left: 2px;
}

/* 修改popup弹窗样式 */
.mars2d-template-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 3px 0 0 3px;
  padding: 0 80px 0 20px;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  color: white;
  background-color: #3385ff;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  box-shadow:
    0px 6px 12px -2px rgba(50, 50, 93, 0.15),
    0px 3px 7px -3px rgba(0, 0, 0, 0.2);

}

.mars2d-template-title a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.leaflet-popup-close-button {
  color: #ffffff !important;
  line-height: 42px !important;
}

.mars2d-template-content div:nth-child(2) {
  display: flex;
}

.mars2d-template-content div:nth-child(2) label {
  margin-right: 0px;
  min-width: 44px;
}
