// 下拉菜单
.mars-dropdown {
  * {
    color: @dropdown-color-base;
    font-weight: normal;
    white-space: nowrap;
  }
  .ant-dropdown-menu {
    background-color: @mars-basecolor-reverse !important;
    .i-icon {
      vertical-align: middle;
      margin-right: 4px;
    }
  }

  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    &:hover {
      background-color: rgba(37, 49, 63, 0.2);
    }
  }
}
